<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
        <a href="./../index.html">
        <img class="logo" src="./../assets/imagenes/favicon.png" alt="imagen logo" width="500" height="500"></a>
        <nav class="navegador">
            <ul class="nave">            
               <li>
                    <a class="enlace" href="./../index.html"> Inicio </a>
                </li>
               <li>
                    <a class="enlace" href="./views/contacto.html">Sobre Suiza</a>
                </li>
               <li>
                    <a class="enlace" href="./../views/presupuesto.html">Para mas Informacion</a>
                </li>
               <li>
                <a class="enlace" href="./../views/productos.html"> Galeria de Imagenes</a>
                </li>
            </ul>
        </nav>
    </header>
    <aside>
        <h1 class="texto">Aviso Legal</h1><br> 
    </aside>
    <!--el proceso es una copia de contacto-->
    <main>
        <article>
            <h2 class="titulo">Las presentes Condiciones de Uso regulan el acceso, navegación y uso del presente sitio web (en adelante, el “Sitio Web”).  </h2>
            
            <p class="info">1.- Derecho de la información

            Le informamos que la titularidad del Sitio Web a través del dominio (en adelante, el “Sitio Web”), es titularidad de "Suiza. guia para viajeros"
            (en adelante, "Suiza. guia para viajeros"), con N.I.F.: B-000000 y domicilio social en callle kiefe 3660, 3618 Süderen, Berna e inscrita en el Registro Mercantil de Berna, Tomo 31885, Folio 89, Sección 8, Hoja M-00000, Inscripción 1ª.
                    
            El acceso y/o uso del Sitio Web le atribuye la condición de usuario, y acepta, desde dicho acceso y/o uso, el presente Aviso Legal.
                    
            El usuario (en adelante, el “Usuario”) puede ponerse en contacto con "Suiza. guia para viajeros" .
                    
            Las Administraciones Públicas que deseen ponerse en contacto con "Suiza. guia para viajeros", deberán de hacerlo de forma telemática realizando un uso preferible de la Dirección Habilitada Electrónica Única (DEHú). En caso de que no puedan utilizar la DEHú por motivos acreditados, deberán de notificar cualquier cuestión que se derive a través de la correspondiente plataforma electrónica de la Administración Pública.
            </p>
            
            <p class="info">2.- Uso del Sitio web

            El Usuario asume la responsabilidad del uso del Sitio Web de "Suiza. guia para viajeros". El Sitio Web puede proporcionar acceso a multitud de textos, gráficos, dibujos, diseños, fotografías, contenidos multimedia, e informaciones (en adelante, los "Contenidos") pertenecientes a "Suiza. guia para viajeros" o a terceros a los que el Usuario puede tener acceso.
                    
            El Usuario se compromete a hacer un uso adecuado de los Contenidos y Servicios ofrecidos a través del Sitio Web y con carácter enunciativo, pero no limitativo, a no emplearlos para:
                    
            (i) Incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público.
                     
            (ii) Provocar daños en los sistemas físicos y lógicos del Sitio Web de "Suiza. guia para viajeros" de sus proveedores o de terceras personas.
                     
            (iii) Introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados.
                     
            (iv) Intentar acceder, utilizar y/o manipular los datos de "Suiza. guia para viajeros" terceros proveedores y otros usuarios.
                     
            (v) Reproducir o copiar, distribuir, permitir el acceso del público a través de cualquier modalidad de comunicación pública, transformar o modificar los Contenidos, a menos que se cuente con la autorización de "Suiza. guia para viajeros".
                     
            (vi) Suprimir, ocultar o manipular los Contenidos sujetos a derechos de propiedad intelectual o industrial y demás datos identificativos de dichos derechos de "Suiza. guia para viajeros" o de terceros incorporados a los Contenidos, así como los dispositivos técnicos de protección o cualesquiera mecanismos de información que puedan insertarse en los Contenidos.
            </p>
            
            <p class="info">3.- Propiedad Intelectual e Industrial

            Todos los derechos de propiedad intelectual del Contenido del Sitio Web y su diseño gráfico son propiedad exclusiva de "Suiza. guia para viajeros", o bien de un tercero que ha autorizado la utilización de estos, por lo que es a "Suiza. guia para viajeros" a quien le corresponde el ejercicio exclusivo de los derechos de explotación de estos. Por ello y en virtud de lo dispuesto en la legislación aplicable en materia de Derechos de Propiedad Intelectual e Industrial.
                    
            "Suiza. guia para viajeros" no concede ninguna licencia o autorización de uso de ninguna clase sobre sus derechos de propiedad intelectual e industrial o sobre cualquier otra propiedad o derecho relacionado con el Sitio Web, los Servicios o los Contenidos de este.
                    
            Se permite la reproducción y almacenamiento temporal de los contenidos del Sitio Web en tanto ello sea estrictamente necesario para el uso y visualización del Sitio Web desde un dispositivo personal.
                    
            La legitimidad de los derechos de propiedad intelectual o industrial correspondientes a los Contenidos aportados por los usuarios es responsabilidad exclusiva de los mismos, por lo que el Usuario mantendrá indemne a "Suiza. guia para viajeros" de cualquier reclamación de terceros derivada de la utilización ilícita de Contenidos en el Sitio Web.
            ​</p>
            
            <p class="info">4.- Responsabilidad y Garantías

            "Suiza. guia para viajeros" declara que ha adoptado las medidas necesarias que, dentro de sus posibilidades y el estado de la tecnología, permitan el correcto funcionamiento de su Sitio Web, así como la ausencia de virus y componentes dañinos. Sin embargo, "Suiza. guia para viajeros" no puede hacerse responsable de:
                    
            (i) La continuidad y disponibilidad de los Contenidos y Servicios.
                     
            (ii) La ausencia de errores en dichos Contenidos ni la corrección de cualquier defecto que pudiera ocurrir.
                     
            (iii) La ausencia de virus y/o demás componentes dañinos.
                     
            (iv) Los daños o perjuicios que cause cualquier persona que vulnere los sistemas de seguridad de "Suiza. guia para viajeros".
                     
            Las aportaciones que se pueden encontrar en estas páginas se han realizado únicamente a título informativo. CIVITATIS no garantiza la integridad, exactitud y actualidad de sus contenidos.
            </p> 

            <p class="info">5.- Whistleblowing

            conforme a lo dispuesto en la Ley 2/2023, de 20 de febrero, reguladora de la protección de las personas que informen sobre infracciones normativas y de lucha contra la corrupción, "Suiza. guia para viajeros" dispone de un Sistema Interno de Información en el que se integra el Canal de Denuncias de CIVITATIS, que permite informar sobre posibles infracciones administrativas o penales que se observen en la actividad empresarial, es decir, en un contexto profesional o laboral.

            Las comunicaciones que se realicen a través del Canal de Denuncias de "Suiza. guia para viajeros" se tramitarán conforme al Procedimiento de gestión del Sistema Interno de Información y Protección del Informante previa cumplimentación del formulario correspondiente, de forma anónima o identificativa, escrita o verbal.

            El Canal de Denuncias de "Suiza. guia para viajeros", se gestiona conforme a los principios y garantías reflejados en la Política de Uso del Sistema Interno de Información y Protección del Informante. 
            </p>
            
            <p class="info">6.- Duración y modificación
                    
            El presente Aviso Legal estará vigente con carácter indefinido, pudiendo "Suiza. guia para viajeros" efectuar cambios sobre las condiciones especificadas en el mismo, y que entrarán en vigor desde el momento de su publicación.
                    
            "Suiza. guia para viajeros" podrá suprimir, añadir o cambiar tanto los Contenidos como los Servicios que presta, así como también la forma en la que los mismos aparezcan localizados o presentados. Se entienden como vigentes, las condiciones que estén publicadas en el momento en el que el Usuario acceda al Sitio Web de "Suiza. guia para viajeros".
                    
            El acceso y/o el uso del Sitio Web se entenderá como una aceptación por parte del Usuario del presente Aviso Legal y sus condiciones y, en su caso, los cambios efectuados en las mismas.
            </p>
        </article>   
    </main>

    <footer>
       <div class="red-social">
            <div>
            <h3><strong> Siguenos por nuestras redes sociales</strong></h3>
        </div>
        
            <div class="acceso"> 
                <a href="https://es-es.facebook.com/" target="_blank">
                <img class="cajita" src="./../assets/imagenes/facebook.svg.png" alt="facebook" width="480" height="481"></a>
                <a href="https://www.instagram.com/" target="_blank">
            <img class="cajita" src="./../assets/imagenes/instagram.svg.png" alt="instagram" width="480" height="480"></a>  
            </div>
        </div>

        <div class="aviso">
            <h3><strong> Aviso Legal</strong></h3>
            <a href="./../views/aviso-legal.html">Aviso Legal</a>
        </div>    
    
        <div class="direccion">
            <h3><strong> Direccion de la oficina</strong></h3>
            <p> Kiefel 360, 3818 Süderen </p>
            <p> Comunidad de Röthenbach im Emmental</p>
            <p>Canton de Berna, Suiza </p>
        </div>       
    </footer>
    
</body>
</html>
