<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informaion</title>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
        <a href="./../index.html">
        <img class="logo" src="./../assets/imagenes/favicon.png" alt="imagen logo" width="500" height="500"></a>
        <nav class="navegador">
            <ul class="nave">            
               <li>
                    <a class="enlace" href="./../index.html"> Inicio </a>
                </li>
               <li>
                    <a class="enlace" href="./views/contacto.html">Sobre Suiza</a>
                </li>
               <li>
                    <a class="enlace" href="./../views/presupuesto.html">Para mas Informacion</a>
                </li>
               <li>
                <a class="enlace" href="./../views/productos.html"> Galeria de Imagenes</a>
                </li>
            </ul>
        </nav>
    </header>
    <aside>
        <h1 class="texto">Informacion sobre Suiza</h1><br> 
    </aside>
    <main>
        <section>
            <article>
                <h2 class="titulo">Confederación Suiza</h2>
                        <h2>Schweizerische Eidgenossenschaft</h2>
                        <h2>Confédération suisse</h2>
                        <h2>Confederazione Svizzera</h2>
                        <h2>Confederaziun svizra</h2>
            </article>
            
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398190.011405431!2d6.902396908411389!3d46.807460199977676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64ef6f596d61%3A0x5c56b5110fcb7b15!2sSuiza!5e0!3m2!1ses!2sch!4v1724139081941!5m2!1ses!2sch" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            <article>
                <p class="info">Suiza (en alemán: Schweiz; en francés: Suisse; en italiano: Svizzera; en romanche: Svizra), 
                oficialmente la Confederación Suiza (en alemán: Schweizerische Eidgenossenschaft; en italiano: Confederazione Svizzera; en francés: Confédération suisse; en romanche: Confederaziun svizra), 
                es un país sin salida al mar ubicado en Europa central y que cuenta con una población de 8 670 000 habitantes (2018). 
                Suiza es un Estado federal con 26 estados, llamados cantones y cuenta con cuatro idiomas oficiales: alemán, francés, italiano y romanche. 
                Berna es llamada ciudad federal (no capital) y es la sede de las autoridades federales, mientras que el sector privado del país está más desarrollado en las ciudades de Zúrich, Basilea y Ginebra.
                Suiza es el cuarto país más rico del mundo, según su PIB per cápita, con 83 718 dólares estadounidenses (2011).
                </p>
            </article>    
            <article>
                <p class="info">Limita al norte con Alemania, al oeste con Francia, al sur con Italia y al este con Austria y Liechtenstein.
                Se caracteriza diplomáticamente por su política de relaciones exteriores neutral, sin haber participado o estado activamente en ningún conflicto internacional desde 1815. 
                Suiza es sede de cuantiosas organizaciones internacionales, como la Cruz Roja, la Organización Mundial del Comercio, la Unión Postal Universal, la Unión Internacional de Telecomunicaciones, la Organización Mundial del Movimiento Scout,
                así como una de las dos oficinas de la ONU en Europa y de agencias especializadas de esta institución tales como la Organización Internacional del Trabajo o la Organización Mundial de la Salud.
                A su vez, es sede de la FIFA, máximo organismo del fútbol a escala mundial, y de la UEFA, mayor ente del fútbol europeo; 
                también es sede del COI, máximo organismo encargado de la realización de los Juegos Olímpicos y de la FIDE, máximo organismo del ajedrez en el ámbito mundial; en sincronía con los anteriores entes, alberga al Tribunal de Arbitraje Deportivo.
                </p>
            </article>    
            <article>
                <p class="info">Es miembro de la Asociación Europea de Libre Comercio (que actualmente comprende 4 países) y forma parte del espacio Schengen.
                Aunque no es Estado miembro de la Unión Europea (UE) ni de la eurozona, participa en el Mercado Único Europeo a través de acuerdos bilaterales con la UE.
                ​</p>
            </article>    
            <article>
                <p class="info">Suiza es uno de los países más desarrollados del mundo.
                 Por su política de neutralidad, el país alberga gran cantidad de inmigrantes provenientes de naciones de varios continentes,
                por lo que es considerado como uno de los países europeos con mayor diversidad cultural.
                Suiza es conocida internacionalmente por su turismo de montaña y por sus relojes, chocolates, navajas, bancos, ferrocarriles y quesos.
                Zúrich, Ginebra y Basilea han sido clasificadas entre las diez mejores ciudades del mundo en términos de calidad de vida.
                </p>
            </article>
            <article>  

                <p class="info">La fecha de creación de Suiza como Estado propio se ha fijado en el 1 de agosto de 1291, de acuerdo con la tradición.
                 Debido a este motivo, cada año se celebra la fiesta nacional el 1 de agosto.
                </p>
            </article>
            <article>
                <p class="info">
                    Informacion extraida de wikipedia.
                </p>
            </article>
        </section>    
    </main>

    <footer>
        
    </footer>
    
</body>
</html>