<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario de informacion</title>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
        <a href="./../index.html">
        <img class="logo" src="./../assets/imagenes/favicon.png" alt="imagen logo" width="500" height="500"></a>
        <nav class="navegador">
            <ul class="nave">            
               <li>
                    <a class="enlace" href="./../index.html"> Inicio </a>
                </li>
               <li>
                    <a class="enlace" href="./../views/contacto.html">Sobre Suiza</a>
                </li>
               <li>
                    <a class="enlace" href="./views/presupuesto.html">Para mas Informacion</a>
                </li>
               <li>
                <a class="enlace" href="./../views/productos.html"> Galeria de Imagenes</a>
                </li>
            </ul>
        </nav>
    </header>
    <aside >
        <h1 class="texto"><strong> Servicio de Informacion </strong></h1>
    </aside>
    <!--use una lista desordenada para el formulario-->
    <main>
        <section>
            <div class="container">
                <h2 class="informe"> Datos Personales </h2>
                <p class="deseo">Si desea mas informacion, haznos todas sus preguntas, estaremos encantados de responderles.</p><br>
                <form id="myForm" name="myForm" action="#" method="post">
                    <ul class="lista-principal">
                        <li>
                            <label for="nombre"> Nombre:</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre" pattern="[A-Z a-z]{3,15}"
                                title="Escriba solo letras entre 3 y 15 caracteres" required>
                        </li>
                        <li>
                            <label for="apellidos"> Apellidos:</label>
                            <input type="text" name="apellidos" id="apellidos" placeholder="Escriba sus apellidos" pattern="[A-Z a-z]{3,40}"
                                title="Escriba solo letras entre 4 y 40 caracteres" required>
                        </li>
                        <li>
                            <label for="email"> Correo Electronico:</label>
                            <input type="email" name="email" id="email" placeholder="Escriba su correo electronico" pattern="[a-zA-Z0-9_-.]+@[a-z0-9._-]+/.[a-z]{2,4}"
                                title="Escriba su correo electronico" required>
                        </li>
                        <li>
                            <label for="telefono"> Teléfono:</label>
                            <input type="tel" name="telefono" id="telefono" placeholder="Escriba su numero telefonico" pattern="[0-9]{9}" 
                                title="Escriba su numero telefonico">
                        </li>
                        <li>
                            <label for="mensaje">Mensaje:</label>
                            <textarea rows="6" id="mensaje" placeholder="Escriba aqui su mensaje"></textarea>
                        </li>
                        <li>
                            <input type="checkbox" name= "aceptar politicas de privacidad" value="si" id="aceptar">
                            <p class="mensaje"> Antes de enviar, debera aceptar "las politicas de privacidad" de la empresa.</p>
                        </li>
                        <li class="boton">
                            <button type="reset"> Borrar</button>
                            <button type="submit">Enviar</button>
                        </li>
                    </ul>  
                </form>    
            </div>
        </section>    
    </main>  

    <footer>
        <div class="red-social">
            <div>
            <h3><strong> Siguenos por nuestras redes sociales</strong></h3>
        </div>
        
            <div class="acceso"> 
                <a href="https://es-es.facebook.com/" target="_blank">
                <img class="cajita" src="./../assets/imagenes/facebook.svg.png" alt="facebook" width="480" height="481"></a>
                <a href="https://www.instagram.com/" target="_blank">
            <img class="cajita" src="./../assets/imagenes/instagram.svg.png" alt="instagram" width="480" height="480"></a>  
            </div>
        </div>

        <div class="aviso">
            <h3><strong> Aviso Legal</strong></h3>
            <a href="./../views/aviso-legal.html">Aviso Legal</a>
        </div>    
    
        <div class="direccion">
            <h3><strong> Direccion de la oficina</strong></h3>
            <p> Kiefel 360, 3818 Süderen </p>
            <p> Comunidad de Röthenbach im Emmental</p>
            <p>Canton de Berna, Suiza </p>
        </div>      
    </footer>
    
</body>
</html>
