<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Imagenes</title>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
        <a href="./../index.html">
        <img class="logo" src="./../assets/imagenes/favicon.png" alt="imagen logo" width="500" height="500"></a>
        <nav class="navegador">
            <ul class="nave">            
               <li>
                    <a class="enlace" href="./../index.html"> Inicio </a>
                </li>
               <li>
                    <a class="enlace" href="./../views/contacto.html">Sobre Suiza</a>
                </li>
               <li>
                    <a class="enlace" href="./../views/presupuesto.html">Para mas Informacion</a>
                </li>
               <li>
                <a class="enlace" href="./views/productos.html"> Galeria de Imagenes</a>
                </li>
            </ul>
        </nav>
    </header>
    <aside>
        <h1 class="texto"> <strong> Galeria de fotos </strong></h1>
    </aside>
<!--se aplica ruta relativa-->
<!--usare el grid para la organizacion de las fotos en css-->
    <mian>

        <div class="galeria">
            <div class="imagenes"><img src="./../assets/imagenes/4.jpeg" alt="imagen de montana 2" width="768" height="1024"></div>
            <div class="imagenes"><img src="./../assets/imagenes/1.jpeg" alt="imagen de montana" width="1024" height="768"></div>
            <div class="imagenes"><img src="/../assets/imagenes/4.jpeg" alt="imagen de montana 2" width="768" height="1024"></div>
            <div class="imagenes"><img src="/../assets/imagenes/5.jpeg" alt="imagen de cabana" width="1024" height="768"></div>  
            <div class="imagenes"><img src="./../assets/imagenes/7.jpeg" alt="imagen de montana 3" width="1024" height="768"></div>
            <div class="imagenes"><img src="./../assets/imagenes/8.jpeg" alt="imagen de avioneta" width="1024" height="768"></div>
            <div class="imagenes"><img src="./../assets/imagenes/9.jpeg" alt="imagen de avioneta adentro" width="1024" height="768"></div>
            <div class="imagenes"><img src="./../assets/imagenes/10.jpeg" alt="edificio para la expo 02" width="2014" height="1800"></div>
            <div class="imagenes"><img src="./../assets/imagenes/11.jpg" alt="la catedral de basilea" width="890" height="4568"></div>
            <div class="imagenes"><img src="./../assets/imagenes/12.jpg" alt="muro de Morat" width="1024" height="683"></div>
            <div class="imagenes"><img src="./../assets/imagenes/13.jpg" alt="granja del Emmental" width="500" height="633"></div>
            <div class="imagenes"><img src="./../assets/imagenes/14.jpg" alt="conjunto historico de Saanen" width="1618" height="1081"></div>
            <div class="imagenes"><img src="./../assets/imagenes/15.jpg" alt="valles de Aletsch" width="2182" height="1700"></div>
            <div class="imagenes"><img src="./../assets/imagenes/16.jpg" alt="Canton de Zürich" width="947" height="646"></div>
            <div class="imagenes"><img src="./../assets/imagenes/17.jpg" alt="Canton de Berna" width="3200" height="2132"></div>
        </div>

    </main>
     
    <footer>
        <div class="red-social">
            <div>
            <h3><strong> Siguenos por nuestras redes sociales</strong></h3>
        </div>
        
            <div class="acceso"> 
                <a href="https://es-es.facebook.com/" target="_blank">
                <img class="cajita" src="./../assets/imagenes/facebook.svg.png" alt="facebook" width="480" height="481"></a>
                <a href="https://www.instagram.com/" target="_blank">
            <img class="cajita" src="./../assets/imagenes/instagram.svg.png" alt="instagram" width="480" height="480"></a>  
            </div>
        </div>

        <div class="aviso">
            <h3><strong> Aviso Legal</strong></h3>
            <a href="./../views/aviso-legal.html">Aviso Legal</a>
        </div>    
    
        <div class="direccion">
            <h3><strong> Direccion de la oficina</strong></h3>
            <p> Kiefel 360, 3818 Süderen </p>
            <p> Comunidad de Röthenbach im Emmental</p>
            <p>Canton de Berna, Suiza </p>
        </div>      
    </footer>
    
</body>
</html>
